  <div class="contenido_total">
    <div class="titulo_practica">
      <h1 align="center">
        <font color="blue">Comma Separated Values (CSV) Analyzer with Ajax</font>
      </h1>
      <hr>
    </div>
    <div class="contenido">
      <table class="center" id="input">
        <tr><th>Escriba aquí una entrada CSV o bien</th></tr>
        <tr><th>Arrastre un fichero CSV hasta la zona de entrada</th></tr>
        <tr>
          <th>
            <textarea class = "drop_zone" autofocus="" cols = "80" rows = "5" id="original"></textarea>
          </th>
          <th>
            <button type="button" id="parse"> Analizar!</button>
          </th>
        </tr>
        <tr>
        </tr>
        <tr>
          <th>
            <div class="example">
              Click para cargar ejemplos:
              <button class ="example" type="button">input</button>
              <button class ="example" type="button">input2</button>
              <button class ="example" type="button">input3</button>
            </div>
          </th>
        </tr>
        <tr>
          <th>
              Cargar archivo: 
              <input type="file" class="inputfile" />
          </th>
        </tr>
      </table>

      <div class="output" id="finaltable">
      </div>
    </div>
  </div>
