<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%- title %></title>
    <link href="global.css" rel="stylesheet" type="text/css" id="prueba">
    <link href="generado.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script type="text/javascript" src="csv.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
  <footer><!--pie de pagina-->
      <div id="pie">
            <a href="http://alu0100836059.github.io/pagina_personal">"    Web Personal de Jacobo"</a>
            <a href="https://github.com/noe-jacoboDSI/ajax">"Repositorio de la organización"</a>
            <a href="http://dsi1516.github.io/Practica1">"Web Personal de Noé"</a><!---->
            <!--a href="http://noe-jacobodsi.github.io/localstorage-jquery-underscore-express-sass/test/index.html">"Test"</a-->
      </div>
</footer>
</html>
