table.center {
	font-weight: bold;
	color: black;
	text-align: center;

	margin-left: 90px;
	margin-top: 10px;
	
	border: ridge;
	border-color: blue;
	
	background-color: white;	
}
.output tr:nth-child(odd)    { background-color:#eee; }
.output tr:nth-child(even)   { background-color:#00FF66; }
.error td{ background-color: red; }
